.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin: 0 auto 20px;
}


.list {
    justify-content: center;
}

.item {
    margin: 10px 5px;
}

.description {
    display: block;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
}